<div class="container">
  <div class="container-form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="form.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput [formControl]="form.last_name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput [formControl]="form.phone">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="form.email">
    </mat-form-field>
    <p>{{form.email.valid}}</p>

    <button mat-raised-button color="primary" (click)="sendForm()">Send</button>
  </div>
</div>
